.header {
  padding: 1rem 0;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 25%);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 1.15rem;
}

.links {
  display: flex;
  overflow-x: auto;
}

.links > a {
  margin-right: 1rem;
  flex-shrink: 0;
}

@media (max-width: 890px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    overflow-x: auto;
  }
  .brand {
    margin-bottom: 1rem;    
  }
  .links {
    width: 100%;
    justify-content: space-between;
  }
}