@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .btn {
    @apply p-2 rounded-lg text-center font-bold bg-gray-600 text-white text-base hover:bg-gray-900;
  }
  p {
    @apply my-2;
  }
  h1 {
    @apply text-4xl lg:text-5xl;
  }
  h2 {
    @apply text-2xl lg:text-4xl;
  }
  h3 {
    @apply text-xl lg:text-3xl;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold my-4 leading-tight md:leading-tight;
  }
  p {
    @apply text-base leading-relaxed;
  }
}

@layer components {
  .unreset > ul {
    @apply list-outside list-disc ml-4;
  }
}

@layer utilities {
  .md-hidden {
    @apply block md:hidden;
  }
  .sm-hidden {
    @apply hidden md:block;
  }
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #333333;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


