@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .btn {
    @apply p-2 rounded-lg text-center font-bold bg-gray-600 text-white text-base hover:bg-gray-900;
  }
  h1 {
    @apply font-bold text-3xl lg:text-5xl leading-tight lg:leading-tight;
  }
}

@layer utilities {
  .md-hidden {
    @apply block md:hidden;
  }
  .sm-hidden {
    @apply hidden md:block;
  }
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #333333;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


