@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .btn {
    @apply px-4 py-2 rounded-lg text-center font-medium bg-automne shadow text-white text-lg hover:bg-automne-dark transition;
  }
  p {
    @apply my-2;
  }
  h1 {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }
  h2 {
    @apply text-xl md:text-2xl lg:text-3xl;
  }
  h3 {
    @apply text-lg md:text-lg lg:text-2xl;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold my-4 leading-tight md:leading-tight;
  }
  p {
    @apply text-base leading-relaxed;
  }
  .section-title {
    @apply px-3 md:px-6 py-2 md:py-3 shadow-lg rounded-xl;
  }
}

@layer components {
  .unreset > ul {
    @apply list-outside list-disc ml-4;
  }
  .container {
    @apply w-full max-w-screen-xl mx-auto;
  }
  .outer-spacing {
    @apply my-20 md:my-40;
  }
  .inner-spacing {
    @apply px-6 py-3 md:py-6 md:px-12; 
  }
  .field {
    @apply md:text-lg block w-full rounded-xl shadow-lg px-4 py-2 my-2 border-transparent bg-gray-200 focus:outline-none focus:ring-2 focus:ring-automne focus:shadow-xl ;
  }
  .radio {
    @apply mr-2;
  }
  .field-block {
    @apply mb-6;
  }
  .error {
    @apply ring-2 ring-red-500;
  }
  .error-message {
    @apply text-red-500;
  }
  .label {
    @apply md:text-lg font-bold mr-4 block md:inline-block ;
  }
  .textarea {
    @apply h-48;
  }
}

@layer utilities {
  .h-136 {
    height: 32rem;
  }
  .w-136 {
    width: 32rem;
  }
  .md-hidden {
    @apply block md:hidden;
  }
  .sm-hidden {
    @apply hidden md:block;
  }
  .clip-path {
    clip-path: polygon(100% 0,0 0,0 77.5%,1% 77.4%,2% 77.1%,3% 76.6%,4% 75.9%,5% 75.05%,6% 74.05%,7% 72.95%,8% 71.75%,9% 70.55%,10% 69.3%,11% 68.05%,12% 66.9%,13% 65.8%,14% 64.8%,15% 64%,16% 63.35%,17% 62.85%,18% 62.6%,19% 62.5%,20% 62.65%,21% 63%,22% 63.5%,23% 64.2%,24% 65.1%,25% 66.1%,26% 67.2%,27% 68.4%,28% 69.65%,29% 70.9%,30% 72.15%,31% 73.3%,32% 74.35%,33% 75.3%,34% 76.1%,35% 76.75%,36% 77.2%,37% 77.45%,38% 77.5%,39% 77.3%,40% 76.95%,41% 76.4%,42% 75.65%,43% 74.75%,44% 73.75%,45% 72.6%,46% 71.4%,47% 70.15%,48% 68.9%,49% 67.7%,50% 66.55%,51% 65.5%,52% 64.55%,53% 63.75%,54% 63.15%,55% 62.75%,56% 62.55%,57% 62.5%,58% 62.7%,59% 63.1%,60% 63.7%,61% 64.45%,62% 65.4%,63% 66.45%,64% 67.6%,65% 68.8%,66% 70.05%,67% 71.3%,68% 72.5%,69% 73.6%,70% 74.65%,71% 75.55%,72% 76.35%,73% 76.9%,74% 77.3%,75% 77.5%,76% 77.45%,77% 77.25%,78% 76.8%,79% 76.2%,80% 75.4%,81% 74.45%,82% 73.4%,83% 72.25%,84% 71.05%,85% 69.8%,86% 68.55%,87% 67.35%,88% 66.2%,89% 65.2%,90% 64.3%,91% 63.55%,92% 63%,93% 62.65%,94% 62.5%,95% 62.55%,96% 62.8%,97% 63.3%,98% 63.9%,99% 64.75%,100% 65.7%);
  }
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: "Rubik",-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: .5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-asphalte bg-gravier-light;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


